<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/frontend/public/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />

  <link rel="stylesheet" href="/frontend/views/components/styles/noticias.css" />

  <title>
    GameWired | Marvel Tokon: Fighting Souls é o novo game de luta da Arc System
  </title>
</head>

<body>
  <div id="header"></div>

  <main id="news">
    <section class="container">
      <article class="notice">
        <a href="../news.html" class="btn-back">
          <i class="ph ph-arrow-left"></i>
          Voltar
        </a>

        <h2 class="title">
          Marvel Tokon: Fighting Souls é o novo game de luta da Arc System
        </h2>

        <span class="date"> 05/06/2025 </span>

        <div class="head">
          <p>
            Jogo foi revelado durante o State of Play nesta quarta-feira.
          </p>

          <img src="/frontend/public/assets/imgs/noticias/marvel-tokon.webp" alt="Marvel Tokon" class="img" loading="lazy" />
        </div>

        <div class="txt-notice">
          <p>
            Durante o State of Play da Sony PlayStation nesta quarta-feira (04), a Arc System Works revelou seu novo
            jogo de luta, Marvel Tokon: Fighting Souls, que leva os personagens da Casa das Ideias para fora da clássica
            colaboração com a Capcom em jogos de luta.
          </p>

          <p>
            No trailer, foi possível ver uma série de personagens da Marvel, como Doutor Destino, Motoqueiro Fantasma,
            Capitão América, Tempestade, Homem-Aranha, Homem de Ferro, Senhor das Estrelas e Miss Marvel. Mais
            personagens devem ser revelados conforme o jogo tiver mais informações disponíveis.
          </p>

          <p>
            Outro ponto importante da jogabilidade do título, é que será possível jogar 4 vs 4, ou seja, com cada
            jogador formando um time de quatro perdonsagens, mostrando um novo estilo de jogabilidade, além de mostrar
            que será possível utilizar personagens de assistência, colocando mais opções de jogabilidade.
          </p>

          <p>
            A notícia é também chocante. Com o lançamento de uma grande coleção de Marvel vs. Capcom ano passado, fãs
            criaram esperanças de que Marvel e Capcom estavam enfim colaborando para um novo game da lendária saga de
            luta. Com o anúncio de um projeto da Arc System Works, time responsável por Dragon Ball FighterZ, essa ideia
            perde força.
          </p>

          <p>
            Acesse a notícia completa em:
            <a href="https://www.omelete.com.br/games/marvel-tokon-fighting-souls-e-o-novo-jogo-de-luta-da-arc-system"
              target="_blank">Omelete - Marvel Tokon: Fighting Souls é o novo game de luta da Arc System
            </a>
          </p>
        </div>
      </article>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>

</body>
</html>