<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/frontend/public/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />

  <link rel="stylesheet" href="/frontend/views/components/styles/noticias.css" />

  <title>
    GameWired | Prince of Persia | Roguelike ganha trailer e data de lançamento da versão final
  </title>
</head>

<body>
  <div id="header"></div>

  <main id="news">
    <section class="container">
      <article class="notice">
        <a href="../news.html" class="btn-back">
          <i class="ph ph-arrow-left"></i>
          Voltar
        </a>

        <h2 class="title">
          Prince of Persia | Roguelike ganha trailer e data de lançamento da
          versão final
        </h2>

        <span class="date"> 08/06/2025 </span>

        <div class="head">
          <p>Jogo está liberado em acesso antecipado desde maio de 2024.</p>

          <img src="/frontend/public/assets/imgs/noticias/prince-of-persia.webp" alt="Prince of Persia" class="img" loading="lazy" />
        </div>

        <div class="txt-notice">
          <p>
            Após mais de um ano aberto com acesso antecipado, The Rogue Prince
            of Persia vai ser lançado. A versão 1.0 do jogo chega ainda este
            ano. Saiba a data abaixo e confira acima um novo trailer.
          </p>

          <p>
            <strong>Quando lança o Roguelike de Prince of Persia?</strong>
            Segundo os desenvolvedores, que confirmaram a informação durante o
            PC Gaming Show, o jogo chegará com sua versão 1.0 em agosto deste
            ano. A versão atual do jogo está disponível desde maio de 2024, e
            desde então, ganhou diversas atualizações e passou por algumas
            melhorias.
          </p>

          <p>
            Vale notar que jogos em acesso antecipado não estão completos e
            sofrem constantes alterações. Isso significa que, em agosto, The
            Rogue Prince of Persia enfim será visto em todo o seu potencial
            gráfico, mecânico e narrativo.
          </p>

          <p>
            Leia a sinopse oficial do jogo 2D da franquia Prince of Persia:
            "Corra por paredes com uma movimentação 2D exclusiva para
            enfrentar facilmente combates acrobáticos dinâmicos enquanto
            elimina um exército invasor neste jogo roguelite de ação de
            plataforma da série Prince of Persia".
          </p>

          <p>
            Acesse a notícia completa em:
            <a href="https://www.omelete.com.br/games/prince-of-persia-roguelike-ganha-trailer-e-data-da-versao-final"
              target="_blank">Omelete - Prince of Persia | Roguelike ganha trailer e data de
              lançamento da versão final
            </a>
          </p>
        </div>
      </article>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>

</body>
</html>