<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/frontend/public/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />

  <link rel="stylesheet" href="/frontend/views/components/styles/noticias.css" />

  <title>
    GameWired | Ergonomia | Saiba como se portar jogando para evitar dores e problemas
  </title>
</head>

<body>
  <div id="header"></div>

  <main id="news">
    <section class="container">
      <article class="notice">
        <a href="../news.html" class="btn-back">
          <i class="ph ph-arrow-left"></i>
          Voltar
        </a>

        <h2 class="title">
          Ergonomia | Saiba como se portar jogando para evitar dores e problemas
        </h2>

        <span class="date"> 16/04/2026 </span>

        <div class="head">
          <p>
            Um ponto muito negligenciado por jovens, mas que é muito importanto ao longo prazo para evitar problemas de saúde.
          </p>

          <img src="/frontend/public/assets/imgs/noticias/ergonomia.jpg" alt="Dores nas Costas" class="img"
            loading="lazy" />
        </div>

        <div class="txt-notice">
          <p>
            A ergonomia no jogo envolve ajustar o ambiente (cadeira, mesa, monitor) e a postura para garantir conforto,
            evitar dores e lesões, além de melhorar o desempenho. Dicas principais incluem manter a coluna apoiada, pés
            no chão, monitor ao nível dos olhos e pulsos retos, utilizando equipamentos ajustáveis e fazendo pausas para
            alongamento.
          </p>

          <p>
            <strong>Dicas de Ergonomia para Gamers:</strong>

          <ul>
            <li><strong>Cadeira Ergonômica:</strong> Prefira cadeiras com bom suporte lombar e de braços, ajustáveis
              para manter joelhos e cotovelos a 90 graus;</li>
            <li><strong>Posição do Monitor:</strong> O topo da tela deve estar na altura dos olhos ou ligeiramente
              abaixo, a uma distância de um braço para evitar tensão no pescoço;</li>
            <li><strong>Teclado e Mouse:</strong> Mantenha-os na mesma altura, permitindo que os braços fiquem relaxados
              e os pulsos em posição neutra, sem inclinação;</li>
            <li><strong>Pausas Ativas:</strong> Faça pausas a cada 1 ou 2 horas para levantar, alongar os braços,
              pescoço e costas, e descansar a vista;</li>
            <li><strong>Jogando no Console/Celular:</strong> Apoie os braços ao usar controles e evite inclinar a cabeça
              para frente por longos períodos no celular, o que sobrecarrega a cervical.</li>
          </ul>
          </p>

          <p>
            Os principais benefícios dessas dicas incluem redução de dores nas costas, ombros e punhos, bem como prevenção de lesões e um melhor desempenho devido ao maior conforto.
          </p>

          <p>
            Se você joga por longos períodos, investir em uma boa cadeira de escritório, muitas vezes mais ergonômica
            que cadeiras gamer convencionais, é uma excelente opção, ajudando a manter uma boa postura e uma melhor
            ergonomia.
          </p>
        </div>
      </article>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>

</body>

</html>