<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/frontend/public/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />

  <link rel="stylesheet" href="/frontend/views/components/styles/noticias.css" />

  <title>
    GameWired | Nintendo lança oficialmente App de músicas
  </title>
</head>

<body>
  <div id="header"></div>

  <main id="news">
    <section class="container">
      <article class="notice">
        <a href="../news.html" class="btn-back">
          <i class="ph ph-arrow-left"></i>
          Voltar
        </a>

        <h2 class="title">Nintendo lança app oficial para ouvir música</h2>

        <span class="date"> 30/05/2025 </span>

        <div class="head">
          <p>Nintendo Music já pode ser baixado no Android e iOS.</p>

          <img src="/frontend/public/assets/imgs/noticias/nintendo-music.webp" alt="Nintendo Music" class="img" loading="lazy" />
        </div>

        <div class="txt-notice">
          <p>
            A Nintendo lançou o aplicativo Nintendo Music, oficial e voltado
            para ouvir músicas e trilhas sonoras de todos os seus jogos.
          </p>

          <p>
            Animal Crossing, The Legend of Zelda, Pokémon, Super Mario, Donkey
            Kong, entre outros estão por lá. O app oferece playlists
            selecionadas, além de temas específicos, como "temas de chefões".
          </p>

          <p>
            O Nintendo Music também permite baixar músicas para ouvir offline
            e conta até mesmo com um sistema de aviso de spoilers, caso ainda
            não tenha jogado o jogo.
          </p>

          <p>
            O app é gratuito para baixar no Android e iOS, mas para usar é
            preciso ter uma conta Nintendo Switch Online com assinatura ativa.
          </p>

          <p>
            Acesse a notícia completa em:
            <a href="https://www.theenemy.com.br/nintendo/nintendo-lanca-app-oficial-para-ouvir-musica"
              target="_blank">The Enemy - Nintendo lança app oficial para ouvir música
            </a>
          </p>
        </div>
      </article>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>

</body>
</html>