<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png" href="/frontend/public/assets/imgs/Logo.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />

  <link rel="stylesheet" href="/frontend/views/components/styles/noticias.css" />

  <title>
    GameWired | Clash of Clans irá receber série na Netflix
  </title>
</head>

<body>
  <div id="header"></div>

  <main id="news">
    <section class="container">
      <article class="notice">
        <a href="../news.html" class="btn-back">
          <i class="ph ph-arrow-left"></i>
          Voltar
        </a>

        <h2 class="title">Clash of Clans vai virar série na Netflix</h2>

        <span class="date"> 20/05/2025 </span>

        <div class="head">
          <p>Produção ainda não tem data para estrear.</p>

          <img src="/frontend/public/assets/imgs/noticias/clash-of-clans-netflix.webp" alt="Clash of Clans na Netflix" class="img"
            loading="lazy" />
        </div>

        <div class="txt-notice">
          <p>
            Sucesso para dispositivos mobile há mais de uma década, o jogo de
            estratégia Clash of Clans, o principal sucesso da SuperCell (de
            Clash Royale e Brawl Stars) vai ganhar uma série original da
            Netflix. Confira abaixo o anúncio oficial.
          </p>

          <p>
            Lançado em 2012 para iOS e em 2013 para Android, o jogo permite ao
            jogador ocupar um mapa próprio e preparar seu clã para batalhas. O
            jogo oferece personagens e recursos variados para que você monte a
            melhor estratégia de defesa possível e proteja seus recursos, que
            podem ser roubados pelos demais jogadores. Paralelamente, você
            precisa também atacar outros clãs para adquirir seus recursos,
            dentro da mesma lógica.
          </p>

          <p>
            Por ora, não se sabe qual será a trama da série, nem quem
            conduzirá o projeto ou quando os episódios serão lançados. O
            seriado será, claro, uma animação, que deve manter a estética do
            jogo. O anúncio vem na esteira do sucesso de outras produções de
            games para o streaming, como The Last of Us na Max.
          </p>

          <p>
            Acesse a notícia completa em:
            <a href="https://www.omelete.com.br/games/clash-of-clahs-vai-virar-serie-na-netflix" target="_blank">
              Omelete - Clash of Clans vai virar série na Netflix.
            </a>
          </p>
        </div>
      </article>
    </section>
  </main>

  <div id="footer"></div>

  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>
  
</body>
</html>