#login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  height: 100vh;

  .txt-login {
    text-align: center;
    margin-top: 6%;

    img {
      width: 500px;
      height: 500px;
    }
  }

  .container-login {
    .card-login {
      background-color: var(--bg-Card);
      border-radius: 20px;
      padding: 1em;
      height: auto;
      width: 500px;
      position: relative;
    }

    .header-login {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2em;

      a {
        position: absolute;
        right: 5%;
        top: 3%;
        font-size: 1.5em;
      }
    }
  }

  #form {
    display: flex;
    align-items: center;
    flex-direction: column;

    .input-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-wrap: nowrap;
      padding-bottom: 0.8em;

      input {
        width: 100%;
        max-width: 350px;
        height: 45px;
        border-radius: 10px;
        padding: 0.6em 1.2em;
        background-color: #1c1c1c;
        color: var(--bg-Font);

        &:focus {
          background-color: black;
        }
      }

      .error {
        color: var(--bg-Button);
        font-size: 1rem;
      }
    }

    .register {
      display: flex;
      align-items: center;
      margin-top: 0.8em;

      p,
      a {
        font-size: 1rem;
      }

      a {
        color: var(--bg-Button);
        text-decoration: none;
        padding: 0 0.5em;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3%;

    .txt-login {
      display: none;
    }
  }
}

@media screen and (max-width: 640px) {
  #login {
    .container-login {
      .card-login {
        width: 400px;
      }

      #form {
        .input-box {
          input {
            width: 100%;
            max-width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #login {
    .container-login {
      .card-login {
        width: 350px;
      }

      #form {
        .input-box {
          input {
            width: 100%;
            max-width: 250px;
          }
        }
      }
    }
  }
}