#news {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh 0;
    padding: 5em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

    .notice {
        text-align: justify;

        .title {
            margin: 0.8em 0 0.3em;
            text-align: left;
        }

        .date {
            font-size: clamp(0.8rem, 0.8vw + 0.8rem, 1.1rem);
            text-decoration: underline;
            color: var(--bg-Button);
            text-decoration: none;
        }

        .head {
            margin: 1em 0;

            .img {
                width: 100%;
                height: min(500px, 50vw);
                object-fit: cover;
                object-position: center;
                display: block;
                border-radius: 10px;
                margin: 1em auto;
            }
        }

        .txt-notice {
            margin: 1em 0;
            font-size: 18px;

            p {
                white-space: pre-line;
                padding: 0.6em 0;
                margin-top: 0.5em;

                a {
                    color: var(--bg-Button);
                    text-decoration: none;
                    word-break: break-word;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    #news {
        padding: 5em 0;
    }

    .container {
        width: 80%;
    }

    .notice .title {
        font-size: 28px !important;
    }

    .notice .date,
    .notice .date strong {
        font-size: 18px !important;
    }

    .notice .head {
        .img {
            width: 100%;
            height: auto;
        }
    }

    .notice .txt-notice,
    .notice .txt-notice *,
    .notice .txt-notice p,
    .notice .txt-notice a {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 640px) {
    .container .title {
        font-size: 26px !important;
    }

    .notice .date,
    .notice .date strong {
        font-size: 16px !important;
    }

    .notice .head,
    .notice .head p {
        font-size: 16px !important;
    }

    .notice .txt-notice,
    .notice .txt-notice *,
    .notice .txt-notice p,
    .notice .txt-notice a {
        font-size: 16px !important;
    }
}