#plataforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2vh 0;
    padding: 2em 0;
    padding-top: 100px;
}

.container-top,
.games {
    width: 100%;
    max-width: 95%;
}

.container-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-top h1 {
    font-size: 40px;
    font-weight: 700;
    align-self: center;
}

.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3em;
}

.games h3 {
    margin: 2vh 0;
    margin-bottom: 1em;
    margin-top: 2em;
    background-color: var(--bg-Card);
    display: inline-block;
    justify-content: center;
    padding: 3px 10px;
    color: var(--bg-Font);
    font-size: 25px;
    border-radius: 50px;
}

.games .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.games .carousel-wrapper {
    display: flex;
    height: 65vh;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.games .carousel .arrowsCarousel {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 0.6em;
}

.games .arrowsCarousel .arrow {
    min-width: 42px;
    height: 42px;
    cursor: pointer;
    background: rgba(27, 20, 46, 0.6);
    color: var(--bg-Font);
    padding: 0 0.6em;
    border-radius: 10px;
    font-size: 1em;
}

.games .arrowsCarousel .arrow:hover {
    color: var(--bg-Button);
}

.gamesForBrowser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamesForBrowser h3 {
    margin-bottom: 0.8em;
}

.gamesForBrowser .browserCarousel {
    width: 90%;
    overflow: hidden;
}

.gamesForBrowser .browserWrapper {
    display: flex;
    gap: 2em;
    transition: transform .4s ease;
    overflow: hidden;
}

.browserWrapper::-webkit-scrollbar {
    display: none;
}

.browserWrapper {
    scrollbar-width: none;
}

.gamesForBrowser .arrowsBrowser {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
}

.gamesForBrowser .arrowsBrowser .arrow {
    min-width: 42px;
    height: 42px;
    cursor: pointer;
    background: rgba(27, 20, 46, 0.6);
    color: var(--bg-Font);
    padding: 0 0.6em;
    border-radius: 10px;
    font-size: 1em;
}

.gamesForBrowser .arrowsBrowser .arrow:hover {
    color: var(--bg-Button);
}

@media screen and (max-width: 1024px) {
    .container-top h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 640px) {
    .container-top h1 {
        font-size: 30px;
    }

    .games .arrow.left {
        display: none;
    }

    .games .arrow.right {
        display: none;
    }

    .games .carousel-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    .games .carousel-wrapper::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .games h3 {
        font-size: 20px;
    }
}