body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 5em;
    margin-bottom: 5em;
    padding: 0 5em;
}

.container__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
    position: relative;
    z-index: 1;
    margin-bottom: 1.5em;

    aside {
        height: max-content;
        position: sticky;
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--bg-Card);
        border-radius: 10px;
        padding: 20px;
        gap: 1em;

        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 0.5em;

            img {
                height: 175px;
                width: 175px;
                border-radius: 50%;
            }

            .foto-perfil {
                cursor: pointer;
            }

            textarea {
                resize: none;
                overflow: hidden;
                min-height: 60px;
                max-height: 300px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--bg-Font);
                background: var(--bg-Background);
                border-radius: 10px;
                padding: 10px;
                width: 100%;
            }

            btns {
                display: flex;
            }

            button {
                color: var(--bg-Font);
                background: var(--bg-Background);
                border-radius: 10px;
                padding: 10px;
                margin-top: 15px;
            }
        }
    }

    .middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        height: max-content;
        position: relative;
        background: var(--bg-Card);
        border-radius: 10px;
        padding: 20px;
        gap: 1em;

        h1 {
            font-size: 30px;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 1024px) {

    .container__profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
        position: relative;
        z-index: 1;
        margin-bottom: 1.5em;

        aside {
            height: max-content;
            position: sticky;
            width: 35vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--bg-Card);
            border-radius: 10px;
            padding: 20px;
            gap: 1em;

            .user {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 0.5em;

                img {
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                }

                .foto-perfil {
                    cursor: pointer;
                }

                textarea {
                    resize: none;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: var(--bg-Font);
                    background: var(--bg-Background);
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    font-size: 16px;
                }

                btns {
                    display: flex;
                }

                button {
                    color: var(--bg-Font);
                    background: var(--bg-Background);
                    border-radius: 10px;
                    padding: 10px;
                    margin-top: 15px;
                    font-size: 16px;
                }
            }
        }

        .middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60vw;
            height: max-content;
            position: relative;
            background: var(--bg-Card);
            border-radius: 10px;
            padding: 20px;
            gap: 1em;

            h1 {
                font-size: 25px;
                font-weight: 700;
            }
        }
    }
}


@media screen and (max-width: 640px) {

    .container__profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
        position: relative;
        z-index: 1;
        margin-bottom: 1.5em;

        aside {
            height: max-content;
            position: sticky;
            width: 65vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--bg-Card);
            border-radius: 10px;
            padding: 20px;
            gap: 1em;

            .user {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 0.5em;

                img {
                    height: 175px;
                    width: 175px;
                    border-radius: 50%;
                }

                .foto-perfil {
                    cursor: pointer;
                }

                textarea {
                    resize: none;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: var(--bg-Font);
                    background: var(--bg-Background);
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                }

                btns {
                    display: flex;
                }

                button {
                    color: var(--bg-Font);
                    background: var(--bg-Background);
                    border-radius: 10px;
                    padding: 10px;
                    margin-top: 15px;
                }
            }
        }

        .middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65vw;
            height: max-content;
            position: relative;
            background: var(--bg-Card);
            border-radius: 10px;
            padding: 20px;
            margin-top: 2em;
            gap: 1em;

            h1 {
                font-size: 30px;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 490px) {

    .container__profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
        position: relative;
        z-index: 1;
        margin-bottom: 1.5em;

        aside {
            height: max-content;
            position: sticky;
            width: 65vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--bg-Card);
            border-radius: 10px;
            padding: 20px;
            gap: 1em;

            .user {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                gap: 0.1em;

                img {
                    height: 125px;
                    width: 125px;
                    border-radius: 50%;
                }

                .foto-perfil {
                    cursor: pointer;
                }

                textarea {
                    resize: none;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: var(--bg-Font);
                    background: var(--bg-Background);
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    font-size: 14px;
                }

                btns {
                    display: flex;
                }

                button {
                    color: var(--bg-Font);
                    background: var(--bg-Background);
                    border-radius: 10px;
                    padding: 10px;
                    margin-top: 15px;
                    font-size: 14px;
                }
            }
        }

        .middle {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65vw;
            height: max-content;
            position: relative;
            background: var(--bg-Card);
            border-radius: 10px;
            padding: 20px;
            margin-top: 2em;
            gap: 1em;

            h1 {
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}