.infosBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2vh 0;
    padding: 2em 0;
}

.infosBlog .search-container {
    height: 35vh;
    display: flex;
    align-items: center;
}

.infosBlog .stats-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin-bottom: 3rem;
}

.infosBlog .stats-container .cardInfos {
    width: 220px;
    background-color: var(--bg-Card);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.infosBlog .stats-container .cardInfos h3 {
    color: var(--bg-Font);
    margin-bottom: .5rem;
}

.infosBlog .stats-container .cardInfos p {
    font-size: 2rem;
    font-weight: bold;
}

.top10 {
    margin-top: 2em;
}

table {
    width: 90%;
    background-color: var(--bg-Card);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    margin-top: 4em;
    margin-bottom: 3em;
}

table tr th {
    background: var(--bg-Card);
    color: var(--bg-Font);
    padding: 1rem;
    text-align: left;
}

table td {
    padding: 1rem;
}

table tr:hover {
    background: var(--bg-Background);
}