<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" sizes="16x16 32x32 48x48" type="image/png"
    href="https://res.cloudinary.com/dtno5yrwl/image/upload/v1777414614/Logo_ojcaft.svg" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />

  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="/frontend/public/assets/styles/main.css" />

  <link rel="stylesheet" href="/frontend/views/components/styles/manage-news.css" />

  <title>GameWired | Gerenciar Notícias</title>
</head>
<body>
  <div id="header"></div>

  <div id="delete-modal" class="modal hidden">
    <div class="modal-content">
      <h4>Excluir notícia</h4>
      <p>Tem certeza que deseja excluir esta notícia?</p>

      <div class="modal-actions">
        <button id="confirm-delete" class="btn-confirm">Excluir</button>
        <button id="cancel-delete" class="btn-cancel">Cancelar</button>
      </div>
    </div>
  </div>

  <main>
    <div class="info-manage">
      <h1>Gerencimento de Notícias</h1>
    </div>

    <section class="container">
      <div id="manageNewsContainer"></div>
    </section>
  </main>

  <footer id="footer"></footer>

  <script src="/frontend/config/connection.js"></script>
  <script src="/frontend/views/components/scripts/manage-news.js"></script>
  <script src="/frontend/views/components/scripts/create-news.js"></script>
  <script src="/frontend/views/components/global/global-js/global-footer-header.js"></script>
  <script src="/frontend/public/assets/scripts/_temas.js"></script>
  <script src="/frontend/public/assets/scripts/_navBar.js"></script>

</body>
</html>